.custom-input-container{
        border:1px;
        border-color: var(--theme-black-light);
        border-style: solid;
        border-radius: 30px;
        color: var(--color-white);
        background-color: var(--theme-black-light);
        padding: .75rem 1.5rem;
        font-size: 100%;
        flex: 1;

        &:focus{
            border-color: var(--theme-accent);
            border-width: 0.1px;
        }
}

.custom-input-error{
    border-color: var(--theme-danger);
}