:root{
    --theme-black: #181818;
    --theme-black-light: #222;

    --theme-danger: #ef4646;

    --theme-white: #fff;

    --theme-accent: #3898FF;

    --color-black: #000;
    --color-white: #fff;

}